/*CSS Reset*/

* {
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}

/*Google Fonts*/
body {
	font-family: 'Open Sans', sans-serif;

}

/*Navigation Bar*/
nav {
	background-color: white;
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	top: 0;
	list-style-type: none;
	position: sticky;
	overflow: auto;

}

.right-nav {
	float: right;
	margin-right: 100px;

}

nav .nav, nav .nav-logo {
	margin: 1rem;
	display: inline;
	position: sticky;

}

.tuitt-button {
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 20px;
	border: none;
	font-size: 1rem;
	padding: 0.5rem;
	margin-top: 0.7rem;
	width: 130px;

}




/*Section*/

#bg-image {
min-height: 20vh;
margin: 30px 60px;
background-repeat: no-repeat;
background-position: center;
background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
background-size: cover;

}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1rem;
	min-height: 50vh;

}


.container {
	color: white;
	text-align: right;
	width: 441.4px;
	float: right;
	padding-right: 7%;
}




.title {
	font-family: 'Zilla Slab', sans-serif;
	color: white;
	font-size: 1.6rem;

}

.subtitle {
	font-family: 'Zilla Slab', sans-serif;
	font-weight: normal;
	font-size: 18px;
	margin-top: 0.5rem;



}

.apply-button {
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 20px;
	border: none;
	font-size: 1rem;
	padding: 0.5rem;
	margin-top: 0.5rem;
	width: 150px;

	
}




/*Section*/

.intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 4rem;
	text-align: center;
}

.title-2 {
	font-family: 'Zilla Slab', sans-serif;
	padding: 2rem;
	text-align: center;
}

.intro-description {
	padding-left: 10%;
	padding-right: 10%;
	text-align: justify;
}

.pre-footer {
	background-color: #f7fbfb;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	padding-bottom: 4rem;

}


.book-button {
	background-color: #336589;
	border-radius: 20px;
	border: none;
	color: white;
	font-size: 1rem;
	padding: 0.5rem;
	margin-top: 0.5rem;
	width: 150px;
}

footer {
	text-align: center;
	font-size: 0.9rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
















